@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2B333B;
  --surface: #FFFFFFE5;
  --purple-9: #6565EC;
  --purple-8: #5151C6;
  --muted: #0007139F;
  --neutral-alpha-6: #01012E22;
  --gray-alpha-6: #DDDDE3;
  --gray-alpha-8: #00082F46;
  --gray-alpha-3: #00003B0D;
  --gray-alpha-5: #0000301B;
  --gray-alpha-11: #0007139F;
  --red-alpha-11: #C10030DB;
  --red-alpha-7: #C9002850;
  --red-surface: #FFF6F6CC;
  --red-surface-hover: #FDE4E9;
  --red-divider: #E43F60;
  --backdrop: #00000066;
  --grays-3: #2B333B;
  --grays-2: #F9F9FB;
  --grays-7: #D3D4DB;
  --grays-6: #C3C4CB;

  --shadow-1:
    0px 1.5px 2px rgba(0, 0, 0, 0.024),
    inset 0px 1.5px 2px rgba(5, 5, 88, 0.024);
  --popover-shadow:
    0px 30px 56px rgba(20, 20, 26, 0.12),
    0px 3.71px 13.2px rgba(20, 20, 26, 0.04),
    0px -6.43px 24px rgba(20, 20, 26, 0.0168),
    0px 4.69103px 6.94968px rgba(20, 20, 26, 0.0532451),
    0px 1.85484px 2.74791px rgba(20, 20, 26, 0.0372022);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purple-9: var(--purple-9);
  --color-purple-8: var(--purple-8);

  --color-muted: var(--muted);
  --color-gray-alpha-11: var(--gray-alpha-11);
  --color-gray-alpha-8: var(--gray-alpha-8);
  --color-gray-alpha-6: var(--gray-alpha-6);
  --color-gray-alpha-3: var(--gray-alpha-3);
  --color-grays-3: var(--grays-3);
  --color-grays-2: var(--grays-2);
  --color-grays-7: var(--grays-7);
  --color-grays-6: var(--grays-6);
  --color-red-alpha-11: var(--red-alpha-11);
  --color-red-alpha-7: var(--red-alpha-7);
  --color-red-surface: var(--red-surface);
  --color-red-surface-hover: var(--red-surface-hover);
  --color-red-divider: var(--red-divider);
  --color-neutral-alpha-6: var(--neutral-alpha-6);
  --color-gray-alpha-5: var(--gray-alpha-5);
  --color-surface: var(--surface);
  --color-backdrop: var(--backdrop);
  --shadow-1: var(--shadow-1);
  --shadow-popover: var(--popover-shadow);

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", sans-serif;
}

.reveal-enter {
  opacity: 0;
  transform-origin: 50% 0;
  animation: reveal-enter 300ms ease-in-out forwards;

}

@keyframes reveal-enter {
  from {
    opacity: 0;
    transform:  scale(0.98) translateY(10px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}


.reveal-enter-from-top {
  opacity: 0;
  transform-origin: 50% 0;
  animation: reveal-enter-from-top 150ms ease-in-out forwards;
}


@keyframes reveal-enter-from-top {
  from {
    opacity: 0;
    transform:  scale(0.97) translateY(-10px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.hide-leave-from-top {

  opacity: 0;
  transform-origin: 50% 0;
  animation: hide-leave-from-top 150ms ease-in-out forwards;
}

@keyframes hide-leave-from-top {
  from {
    opacity: 1;
    transform:  scale(1) translateY(0);
  }

  to {
    opacity: 0;
    transform: scale(0.97) translateY(-10px);
  }
}